
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<!-- From a free template called Transcend -->
{#<!DOCTYPE html>#}
{#<html class="no-js" lang="en">#}
{#<head>#}
{##}
{#    <!--- basic page needs#}
{#    ================================================== -->#}
{#    <meta charset="utf-8">#}
{#    <title>The poll app</title>#}
{#    <meta name="description" content="">#}
{#    <meta name="author" content="">#}
{##}
{#    <!-- mobile specific metas#}
{#    ================================================== -->#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{##}
{#    <!-- CSS#}
{#    ================================================== -->#}
{#    Hacked in from the Transcend template so for now I don't want their CSS files.#}
{#    <link rel="stylesheet" href="css/base.css">#}
{#    <link rel="stylesheet" href="css/vendor.css">#}
{#    <link rel="stylesheet" href="css/main.css">#}
{##}
{#    <!-- script#}
{#    ================================================== -->#}
{#    <script src="js/modernizr.js"></script>#}
{#    <script src="js/pace.min.js"></script>#}
{##}
{#    <!-- favicons#}
{#    ================================================== -->#}
{#    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">#}
{#    <link rel="icon" href="favicon.ico" type="image/x-icon">#}
{##}
{##}
{#</head>#}
{##}
{#<body id="top">#}

    <!-- header
    ================================================== -->
{#    <header class="s-header">#}
{##}
{#        <div class="header-logo">#}
{#            <a class="site-logo" href="transcend-index.html">#}
{#                <img src="images/logo.svg" alt="Homepage">#}
{#            </a>#}
{#        </div> <!-- end header-logo -->#}
{##}
{#        <nav class="header-nav">#}
{##}
{#            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>#}
{##}
{#        </nav> <!-- end header-nav -->#}
{##}
{##}
{#                <div class="masonry__brick" data-aos="fade-up">#}
{#                    <div class="item-folio">#}
{##}
{##}
{#                        <div class="item-folio__text">#}
{#                            <h3 class="item-folio__title">#}
{#        Here are the latest five questions for this poll:#}
{#                            </h3>#}
{#                            <p class="item-folio__cat">#}
        {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{%  url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}



                            </p>
                        </div>








{#        <a class="header-menu-toggle" href="#0">#}
{#            <span class="header-menu-icon"></span>#}
{#        </a>#}
{##}
{#    </header> <!-- end s-header -->#}
{##}
{##}
{##}
{##}
{##}
{#    <!-- contact#}
{#    ================================================== -->#}
{#    <section id="contact" class="s-contact">#}

{#        <div class="row section-header" data-aos="fade-up">#}
{#            <div class="col-full">#}
{#                <h3 class="subhead subhead--light">Contact Us</h3>#}
{#                <h1 class="display-1 display-1--light">Get in touch and let's make something great together. Let's turn your idea on an even greater product.</h1>#}
{#            </div>#}
{#        </div> <!-- end section-header -->#}

{#        <div class="row">#}
{##}
{#            <div class="col-full contact-main" data-aos="fade-up">#}
{#                <p>#}
{#                <a href="mailto:#0" class="contact-email">hello@transcend-studio.com</a>#}
{#                <span class="contact-number">+1 (917) 123 456  /  +1 (917) 333 987</span>#}
{#                </p>#}
{#            </div> <!-- end contact-main -->#}
{##}
{#        </div> <!-- end row -->#}

        <div class="row">

{#            <div class="col-five tab-full contact-secondary" data-aos="fade-up">#}
{#                <h3 class="subhead subhead--light">Where To Find Us</h3>#}
{##}
{#                <p class="contact-address">#}
{#Seattle#}
{#                </p>#}
{#            </div> <!-- end contact-secondary -->#}





{#            <div class="col-five tab-full contact-secondary" data-aos="fade-up">#}
{#                <h3 class="subhead subhead--light">Follow Us</h3>#}
{##}
{#                <ul class="contact-social">#}
{#                    <li>#}
{#                        <a href="#0"><i class="fab fa-facebook"></i></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#0"><i class="fab fa-twitter"></i></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#0"><i class="fab fa-instagram"></i></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#0"><i class="fab fa-behance"></i></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#0"><i class="fab fa-dribbble"></i></a>#}
{#                    </li>#}
{#                </ul> <!-- end contact-social -->#}

{#                <div class="contact-subscribe">#}
{#                    <form id="mc-form" class="group mc-form" novalidate="true">#}
{#                        <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">#}
{#                        <input type="submit" name="subscribe" value="Subscribe">#}
{#                        <label for="mc-email" class="subscribe-message"></label>#}
{#                    </form>#}
{#                </div> <!-- end contact-subscribe -->#}
{#            </div> <!-- end contact-secondary -->#}
{##}
{#        </div> <!-- end row -->#}

{#        <div class="row">#}
{#            <div class="col-full cl-copyright">#}
{#                <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->#}
{#Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>#}
{#<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="cl-go-top">#}
{#            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>#}
{#        </div>#}

{#    </section> <!-- end s-contact -->#}


    <!-- photoswipe background
    ================================================== -->
{#    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">#}
{##}
{#        <div class="pswp__bg"></div>#}
{#        <div class="pswp__scroll-wrap">#}
{##}
{#            <div class="pswp__container">#}
{#                <div class="pswp__item"></div>#}
{#                <div class="pswp__item"></div>#}
{#                <div class="pswp__item"></div>#}
{#            </div>#}
{##}
{#            <div class="pswp__ui pswp__ui--hidden">#}
{#                <div class="pswp__top-bar">#}
{#                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=#}
{#                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=#}
{#                    "Zoom in/out"></button>#}
{#                    <div class="pswp__preloader">#}
{#                        <div class="pswp__preloader__icn">#}
{#                            <div class="pswp__preloader__cut">#}
{#                                <div class="pswp__preloader__donut"></div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">#}
{#                    <div class="pswp__share-tooltip"></div>#}
{#                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=#}
{#                "Next (arrow right)"></button>#}
{#                <div class="pswp__caption">#}
{#                    <div class="pswp__caption__center"></div>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#    </div> <!-- end photoSwipe background -->#}


{#    <!-- preloader#}
{#    ================================================== -->#}
{#    <div id="preloader">#}
{#        <div id="loader">#}
{#        </div>#}
{#    </div>#}
{##}
{##}
{#    <!-- Java Script#}
{#    ================================================== -->#}
{#    <script src="js/jquery-3.2.1.min.js"></script>#}
{#    <script src="js/plugins.js"></script>#}
{#    <script src="js/main.js"></script>#}

{#</body>#}
{##}
{#</html>#}